<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <%= form_for @post, url: posts_create_path do |post|%>
            <%= post.label :post%>
            <%= post.text_area :post, class: 'materialize-textarea' %>
            <%= post.submit 'Post', class: 'btn waves-effect waves-light'%>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col s12">
  <h2>Posts</h2>

  <%@posts.each do |post|%>
      <div class="row">
        <div class="row hoverable">
          <div class="col s12 orange darken-1">
            <p class="white-text"><%=post.post%></p>

            <p class="right-align white-text"><%=post.user.email%></p>
          </div>
        </div>
      </div>
  <%end%>
</div>
</div>
<div class="row">
  <%= will_paginate @posts%>
</div>